.hero-content, 
.hero-img{
    width: 50%;
}
.about-card{
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 3rem;
}
.card1:nth-child(even){
    background-color: #C2956D;
}
.card1:nth-child(odd){
    background-color: #252F46;
}
.num{
    padding: 0.5rem 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: #e2e2e2;
    font-weight: 600;
}
.table{
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    color: #fff;
}
.table td, .table th{
    padding: 1rem 3rem;
    font-weight: 500;
}
.table th{
    font-size: 1.2rem;
    text-align: left;
}
.table tr:nth-child(even){
    background-color: #C2956D;
}

.table tr:nth-child(odd){
    background-color:#252F46;
}
.table tr:hover{
    background-color: #e2e2e2;
    color: #000;
}



@media only screen and (max-width: 56.25em){
    .hero-content, .hero-img{
        width: 100%;
    }
    .btn-hero{
        font-size: 1.2rem;
    }
}