.hero-content, 
.hero-img{
    width: 50%;
}

.heading-animate{
    animation: moveInRight 1s ease-out 0.2s;
 }
.text-animate{
   animation: moveInLeft 1s ease-out 0.2s;
}
.btn-hero{
    transition: all 0.2s;
    animation: moveInDown 1s ease-out 0.7s;
    animation-fill-mode: backwards;
  position: relative;
}
.btn-hero:hover{
    transform: scale(.2s);
}
.about-card{
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 3rem;
}
.card1:nth-child(even){
    background-color: #C2956D;
}
.card1:nth-child(odd){
    background-color: #252F46;
}
.num{
    padding: 0.5rem 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: #e2e2e2;
    font-weight: 600;
}
.table{
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    color: #fff;
}
.table td, .table th{
    padding: 1rem 2rem;
    font-weight: 500;
}
.table th{
    font-size: 1.2rem;
    text-align: left;
}
.table tbody:nth-child(even){
    background-color: #C2956D;
}

.table tbody:nth-child(odd){
    background-color: #252F46;
}
.table tbody:hover{
    background-color: #e2e2e2;
    color: #000;
}
.div-trans{
    transition: width .2s;
}
.div-trans{
    animation: moveInLeft 1s ease-in-out 0.2s;
}
.media-card{
    transition: transform 0.3s;
}
.media-card:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 56.25em){
    .hero-content, .hero-img{
        width: 100%;
    }
    .btn-hero{
        font-size: 1.2rem;
    }
    .card1{
        width: 15rem;
    }
}
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translate(-100px);
    }
    80% {
      transform: translate(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0px);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translate(100px);
    }
    80% {
      transform: translate(-10px);
    }
    100% {
      opacity: 1;
      transform: translate(0px);
    }
  }
  @keyframes moveInDown {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
