
.card1:nth-child(even){
    background-color: #C2956D;
}
.card1:nth-child(odd){
    background-color: #252F46;
}
.table{
    width: auto;
    border-collapse: collapse;
    margin: auto;
    color: #fff;
}
.table td, .table th{
    padding: 1rem;
}
.table tr:nth-child(even){
    background-color: #C2956D;
}

.table tr:nth-child(odd){
    background-color:#252F46;
}
.table tr:hover{
    background-color: #e2e2e2;
    color: #000;
}

